networks:
  ba-mojaloop-net:
    name: ba-mojaloop-net

services:
  bulk-api-adapter:
    build:
      context: .
      cache_from:
        - mojaloop/bulk-api-adapter
        - bulk-api-adapter
    container_name: ba_bulk-api-adapter
    user: root
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-bulk-api-adapter.sh && node src/api/index.js"
    ports:
      - "3003:3003"
    environment:
      - LOG_LEVEL=info
      - CSL_LOG_TRANSPORT=file
    volumes:
       - ./docker/bulk-api-adapter/default.json:/opt/app/config/default.json
       - ./docker/wait-for:/opt/wait-for
    networks:
      - ba-mojaloop-net
    depends_on:
      - central-ledger
      - kafka
      - objstore
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3003/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  objstore:
    image: mongo:6.0.5
    container_name: ba_objstore
    logging:
      driver: none
    ports:
      - "27017:27017"
    networks:
      - ba-mojaloop-net
    healthcheck:
      test: mongo localhost:27017/test --quiet 1
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  central-ledger:
    image: mojaloop/central-ledger:v17.2.1
    container_name: ba_central-ledger
    user: root
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-central-ledger.sh && node src/api/index.js"
    links:
      - mysql
      - kafka
    ports:
      - "3001:3001"
    volumes:
       - ./docker/central-ledger/default.json:/opt/app/config/default.json
       - ./docker/wait-for:/opt/wait-for
    depends_on:
      - mysql
      - kafka
    environment:
      - CLEDG_DATABASE_URI=mysql://central_ledger:password@mysql:3306/central_ledger
      - CLEDG_SIDECAR__DISABLED=true
    networks:
      - ba-mojaloop-net
    healthcheck:
      test: ["CMD", "bash", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3001/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  mysql:
    image: mysql/mysql-server:8.0
    container_name: ba_mysql
    logging:
      driver: none
    ports:
      - "3306:3306"
    volumes:
      # this fixes the permissions issue, but docker-compose up will fail on first attempt
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-central_ledger}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-central_ledger}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - ba-mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  kafka:
    image: docker.io/bitnami/kafka:3.5
    container_name: cs_kafka
    networks:
      - ba-mojaloop-net
    ports:
      - "9092:9092"
    environment:
      # BITNAMI_DEBUG: "yes"
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CFG_LISTENERS: CONTROLLER://:9093,LISTENER_DOCKER://:29092,LISTENER_EXTERN://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: LISTENER_DOCKER://kafka:29092,LISTENER_EXTERN://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,LISTENER_DOCKER:PLAINTEXT,LISTENER_EXTERN:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CFG_MESSAGE_MAX_BYTES: 200000000
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@127.0.0.1:9093
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_ENABLE_KRAFT: "true"
    healthcheck:
      test: ["CMD" ,"/opt/bitnami/kafka/bin/kafka-broker-api-versions.sh","--bootstrap-server","kafka:29092"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  kafka-provisioning:
    container_name: cs_kafka-provisioning
    networks:
      - ba-mojaloop-net
    image: docker.io/bitnami/kafka:3.5
    depends_on:
      - kafka
    volumes:
      - ./docker/kafka/scripts:/tmp/kafka/scripts
    command: bash /tmp/kafka/scripts/provision.sh

  simulator:
    image: mojaloop/simulator:v11.1.3
    container_name: ba_simulator
    ports:
      - "8444:8444"
    environment:
      - LOG_LEVEL=info
      - TRANSFERS_ENDPOINT=http://host.docker.internal:3000
      - QUOTES_ENDPOINT=http://host.docker.internal:3002
      - PARTIES_ENDPOINT=http://host.docker.internal:4002
      - TRANSFERS_FULFIL_RESPONSE_DISABLED=false
    networks:
      - ba-mojaloop-net
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:8444/health"]
      timeout: 20s
      retries: 10
      interval: 30s

